[flake8]
max-line-length = 100
exclude = 
    .git,
    __pycache__,
    venv,
    env,
    .venv,
    build,
    dist,
    *.egg-info
# E203: whitespace before ':'
# W503: line break before binary operator
# E501: line too long (handled by black)
# D: docstring
ignore = E203,W503,E501,D
per-file-ignores =
    __init__.py:F401
